# Python gereksiz dosyaları
__pycache__/
*.pyc
.env
venv/
.vscode/
.idea/

# Veritabanını GitHub'a GÖNDERME (Render kendisi oluşturacak)
# Eğer mevcut verileri taşımak istemiyorsan burası kalsın:
konumlar.db

# Fotoğrafları GitHub'a GÖNDERME (Klasör şişmesin)
fotolar/*
!fotolar/.gitkeep
