<!DOCTYPE html>
<html>
<body style="font-family:sans-serif; text-align:center;">
    <a href="{{ url_for('index') }}">Geri Dön</a>
    <h2>📸 Geçmiş Aramalar</h2>
    {% for f in fotolar %}
        <div style="border:1px solid #ddd; margin:10px; padding:10px; display:inline-block;">
            <img src="{{ url_for('dosya', filename=f[0]) }}" width="150"><br>
            <b>{{ f[1] }}</b> (%{{ f[2] }})<br>
            <small>{{ f[3] }}</small>
        </div>
    {% endfor %}
</body>
</html>
